<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{sso-layout}">
<head>
<title>SSO</title>
</head>
<div layout:fragment="content">

	<!-- ----------------------------------------------------------------------------------- -->
         <div th:replace="sso/sso_main :: sso_main"></div>
	<!-- ----------------------------------------------------------------------------------- -->

</div>


<div layout:fragment="script">

  
</div>
</html>