<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{sso-layout}">
<head>
<title>SSO Failed</title>
</head>
<div layout:fragment="content">
  <section class="content sso-center-wrapper">
   		 <div class="panel panel-default sso-box">

	        <!-- Header -->
	        <div class="panel-heading sso-header">
	            SSO Failed
	        </div>

	        <!-- Body -->
	        <div class="panel-body sso-body">
				<p>Please login using your <b>ACTIVE DIRECTORY ACCOUNT</b> to access this application.</p>	  
					  
				 <p><strong>Step 1:</strong>If you dont have ACTIVE DIRECTORY ACCOUNT. Please contact <b>Eng. SUMER</b></p>
            	 <p>Contact Info: +965 66238711</p>
				 <br>

           		 <p><strong>Step 2:</strong> If Eng. SUMER is not picking up the call, please contact KNG IT Support</p>
            	<p>Help Line: <b>71174</b></p>
	  
	 		</div>

    	</div>
	</section>
</div>


<div layout:fragment="script">

  
</div>
</html>