<html xmlns:th="http://www.thymeleaf.org">

<!-- ------------------------------------  COMMON STYLE for RELATIVE LAYOUT START ------------------------------------ -->
 <th:block th:fragment="core_css">
 
 	<!-- RELATIVE START -->
	<meta charset="UTF-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
 	<link rel="stylesheet" th:href="@{/kng/legacy/bootstrap-3.3.7/dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/kng/legacy/font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/kng/legacy/jquery/jquery-ui-1.12.1.min.css}">
	<link rel="stylesheet" th:href="@{/kng/legacy/jquery/ui-autocomplete.css}">
 	<link rel="stylesheet" th:href="@{/kng/legacy/custom/rela_custom_css/rela_custom.css}">
	<link rel="stylesheet" th:href="@{/kng/legacy/custom/rela_custom_css/mepi_form_filter.css}">
	<link rel="stylesheet" th:href="@{/kng/legacy/custom/rela_custom_css/chart_related.css}">
 	<link rel="stylesheet" th:href="@{/kng/legacy/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}">
	<!-- RELATIVE END -->
	
	 <!-- FILL START --> 
	 <link rel="stylesheet" th:href="@{/kng/legacy/custom/fontcustomstyle/fontcustomstyle.css}">
	 <link rel="stylesheet" th:href="@{/kng/legacy/custom/fontcustomstyle/customstyle.css}">
	 <!-- FILL END --> 

	<!-- Modal Messages START -->
	<link rel="stylesheet" th:href="@{/kng/legacy/custom/modal_msgs/modal_msgs_css/modal_custom_center.css}">
	<link rel="stylesheet" th:href="@{/kng/legacy/custom/modal_msgs/modal_msgs_css/msg_modal.css}">
	<!-- Modal Messages END -->
	
	<!-- Appointment Modal -> Book appointment from time slot -> START -->
	<link rel="stylesheet" th:href="@{/kng/appo/css/appo_modal.css}">
	<!-- Appointment Modal -> Book appointment from time slot -> END -->

 </th:block>
 
 <th:block th:fragment="core_dt_css">
 
    <link rel="stylesheet" th:href="@{/kng/legacy/DataTables/css/jquery.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/kng/legacy/DataTables/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/kng/legacy/DataTables/css/buttons.bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/kng/legacy/DataTables/css/responsive.bootstrap.min.css}">

 </th:block>
 
 
  <th:block th:fragment="core_custom_css">
 
 	 <link rel="stylesheet" th:href="@{/kng/legacy/custom/rela_custom_css/hline.css}">
	 <link rel="stylesheet" th:href="@{/kng/legacy/custom/rela_custom_css/kng_header_title.css}">
	 <link rel="stylesheet" th:href="@{/kng/legacy/custom/rela_custom_css/sidebar_scroll_hide.css}">
 	 <link rel="stylesheet" th:href="@{/kng/legacy/custom/rela_custom_css/small_box_legacy.css}">
 	 <link rel="stylesheet" th:href="@{/kng/legacy/custom/rela_custom_css/doctor_dash_legacy.css}">
 	
 </th:block>
 
 
 <th:block th:fragment="brt_custom_css">
 	<link rel="stylesheet" th:href="@{/kng/brtjs/medas_custom_css/medas_custom.css}">
 	<link rel="stylesheet" th:href="@{/kng/brtjs/brt_custom_css/brt_custom.css}">
 </th:block>
 

 <th:block th:fragment="appo_css">
 	<link rel="stylesheet" th:href="@{/kng/appo/css/appo_slots.css}">
 	<link rel="stylesheet" th:href="@{/kng/appo/css/appo_cmn_dtls.css}">
 </th:block> 
 
 
  <th:block th:fragment="sso_css">
 	<link rel="stylesheet" th:href="@{/kng/sso/css/sso.css}">
  </th:block> 
<!-- ------------------------------------  COMMON STYLE for RELATIVE LAYOUT END ------------------------------------ -->














</html>