<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Active Directory Login Required</title>
</head>
<body style="font-family: Arial; margin: 40px;">
  <h2>SSO Access Denied</h2>
  <p>Please login using your <b>ACTIVE DIRECTORY ACCOUNT</b> to access this application.</p>
  
  <p>Step 1: If you dont have ACTIVE DIRECTORY ACCOUNT. Please contact Eng. SUMER</p>
  <p>Contact Info: +965 66238711</p>
  
  <p>Step 2: If Eng. SUMER is not picking up the call. Call KNG IT Support</p>
  <p>Help Line: 71174</p>
  
  
</body>
</html>