<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>HR No Data</title>
</head>
<body style="font-family: Arial; margin: 40px;">
  <h2>HR No Data</h2>
  <p>User logged in via active directory. But there is no data for this user in HR system.</p>
  <p><b>Please register the user in HR system</b></p>
  
  <p>Step 1: Please contact Eng. SUMER</p>
  <p>Contact Info: +965 66238711</p>
  
  <p>Step 2:If Eng. SUMER is not picking up the call. Call KNG IT Support</p>
  <p>Help Line: 71174</p>
  
  
</body>
</html>