<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{sso-layout}">
<head>
<title>SSO Expired</title>
</head>
<div layout:fragment="content">

  <section class="content sso-center-wrapper">
    <div class="panel panel-default sso-box">

        <!-- Header -->
        <div class="panel-heading sso-header">
            SSO Session Expired
        </div>

        <!-- Body -->
        <div class="panel-body sso-body">
            Please close the browser and open it again to start a new SSO session.
        </div>

    </div>
	</section>

</div>


<div layout:fragment="script">
  
  
</div>
</html>

