<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SSO FAILED</title>
</head>

 <!--  ########################################################################################################### -->
	<div th:fragment="sso_failed">
	
		  <section class="content sso-center-wrapper">
	   		 <div class="panel panel-default sso-box">
	
		        <!-- Header -->
		        <div class="panel-heading sso-header">
		            SSO Failed
		        </div>
	
		        <!-- Body -->
		        <div class="panel-body sso-body">
		        
					 <div th:replace="sso/content :: content_ad_failed"></div>
		  				
		 		</div>
	
	    	</div>
			</section>
	
	</div>
 <!--  ########################################################################################################### -->
 
 
</html>